#MAIN CONFIG
NODE_ENV=production
PORT=3000
HOST=0.0.0.0

#DATABASE CONFIG
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=ekin_backend_db

#CORS CONFIG
CORS_ORIGIN=*
CORS_METHODS=GET,POST,PUT,PATCH,DELETE
CORS_CREDENTIALS=true


#IDASN CONFIG
IDASN_API_URL = https://api.idasn.pohuwatokab.go.id/int/ekin
IDASN_AUTH_URL = https://account.idasn.pohuwatokab.go.id/oauth
IDASN_FOTO_URL = https://api.idasn.pohuwatokab.go.id/idasn/photos
IDASN_CLIENT_ID=ekin
IDASN_RESPONSE_TYPE=token
IDASN_TIMEOUT=5000
IDASN_MAX_REDIRECTS=5

#SETTINGS CONFIG
SETTINGS_ADMIN_ID=197904012005011015

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/ekin_backend_db?schema=public"
